@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 100;
}
#__next {
   overflow: hidden;
   height: auto;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
}

.active::before {
   width: 100% !important;
}
.burger-active span {
   transform: rotate(45deg);
}

.burger-active span::before {
   opacity: 0;
}

.burger-active span::after {
   top: 8px;
   transform: rotate(90deg) translateX(-8px);
}
